.btn {
  &,
  &:link,
  &:visited {
    display: inline-block;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 700;
    padding: 1.5rem 6.144rem;
    border-radius: 8px;

    /* only for the .btn itself */
    border: none;
    cursor: pointer;
    font-family: inherit;

    transition: all 0.3s;
  }

  &--primary {
    background-color: $DeepAquamarine-color;
    color: $white-color;
    display: flex;
    align-items: center;
    line-height: 1.2;
    display: flex;
    align-items: center;
    width: 100%;

    @media only screen and (max-width: $bp-phone-su) {
      justify-content: center;
    }
  }

  &--primary:hover,
  &--primary:active {
    background-color: hsl(
      hue($DeepAquamarine-color-hover),
      saturation($DeepAquamarine-color-hover),
      lightness($DeepAquamarine-color-hover)
    );
  }
}
