.btn {
  &,
  &:link,
  &:visited {
    display: inline-block;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 700;
    padding: 1.55rem 6.34rem;
    border-radius: 8px;
    transition: all 0.3s;
  }

  &--primary:link,
  &--primary:visited {
    background-color: $DeepAquamarine-color;
    color: $white-color;
    display: flex;
    align-items: center;
    line-height: 1.21;
    display: flex;
    align-items: center;

    @media only screen and (max-width: $bp-phone-su) {
      justify-content: center;
    }
  }

  &--primary:hover,
  &--primary:active {
    background-color: hsl(
      hue($DeepAquamarine-color-hover),
      saturation($DeepAquamarine-color-hover),
      lightness($DeepAquamarine-color-hover)
    );
  }
}
