// COLORS
$gunmetal-color: hsl(212, 21%, 14%);
$aurometalSaurus-color: hsl(228, 12%, 48%);
$DeepAquamarine-color: hsl(158, 36%, 37%);
$DeepAquamarine-color-hover: hsl(157, 43%, 18%);
$cream-color: hsl(30, 38%, 92%);
$white-color: hsl(0, 0%, 100%);

// FONTS
$font-primary: "Fraunces", serif;
$font-secondary: "Montserrat", sans-serif;

// BREAKPOINT
$bp-phone-su: 37.68em; // 603px Bigger Phones
